html {
    background: #add8e6;
}

body {
    background: #add8e6;
    font-family: 'DM Sans';
}

th {
    font-weight: normal
}

table, td {
    border-radius: 0.25em;
}

table {
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}